.extendedtext {
  color: var(--color-text);
  background: var(--color-bg);
  border: var(--input-border);
  position: relative;
  resize: none;
  /* todo: use token? */
  box-shadow: inset 0 0 0.19em var(--color-neutral-7);
  /* todo: use token? */
  transition: background 0.2s, border 0.2s, box-shadow 0.2s;
  display: block;
  margin: 0;
  max-width: 50ch;
  padding: 0.14em;
  width: 100%;
  word-wrap: break-word;
}
