.button {
  display: inline-flex;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  align-items: center;
  background: transparent;
  min-height: 54px;
  min-width: 54px;
  border-width: var(--border-width);
  border-color: transparent;
  letter-spacing: 0.02em;
  line-height: 1;
  margin: 0 0.25em;
  padding: 0.55em 1.4em;
  text-align: center;
  transition: background 0.2s, color 0.2s;
  vertical-align: middle;
  border-radius: var(--radius);
  box-sizing: border-box;
}

.button > *:nth-child(even) {
  margin-left: 8px;
}

.button:hover {
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-neutral-7);
  filter: brightness(120%);
  box-shadow: 0 0.07em 0.1em rgba(0, 0, 0, 0.25);
}

.button:active {
  filter: brightness(90%);
  box-shadow: none;
}

.button:focus {
  outline-offset: 4px;
  outline: 1px var(--color-neutral-3) dashed;
}

.button[disabled] {
  background: var(--color-neutral-9);
  border-width: var(--btn-border-width);
  border-color: transparent;
  box-shadow: none;
  color: var(--color-neutral-2);
  cursor: default;
  pointer-events: none;
}

/* COLOR */
.primary {
  color: var(--btn-primary-color);
  background: var(--btn-bg);
}

.primary:hover {
  border: var(--border-width) solid transparent;
}

.button:focus {
  outline-offset: 4px;
  outline: 1px var(--color-neutral-3) dashed;
}

.secondary {
  color: var(--btn-secondary-color);
  background: var(--btn-secondary-bg);
  border: var(--btn-secondary-border);
}

/* SIZE */
.small {
  border-radius: 0.2em;
  padding: 0.3em 0.5em;
  min-height: 32px;
  min-width: 32px;
}

.collapsed {
  min-height: 12px;
  min-width: 12px;
  padding: 0;
}

/* TYPE */
.rounded {
  border-radius: 1.175em;
}

.square {
  border-radius: 0;
}

.circle {
  border-radius: 100%;
  overflow: none;
  padding: 0;
}

.toggled {
  background: #c4e0f8;
  border-color: #2a8dd4;
}
