.strong {
  font-weight: 700;
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.muted {
  color: var(--color-muted);
}

.danger {
  color: var(--color-danger);
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}
