.example {
  width: 100%;
  margin-top: 40px;
  border: 1px solid var(--color-neutral-9);
}

.codeframe {
  position: relative;
}

.preview {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.code-utils {
  position: absolute;
  right: 0;
  top: 2px;
  padding: 6px;
  font-family: Menlo, monospace;
  font-size: 12px;
}

.code-utils span {
  margin-right: 6px;
  cursor: pointer;
  padding: 3px;
  user-select: none;
  color: var(--color-neutral-1);
}

.code-utils span:hover {
  text-decoration: underline;
}

.code {
  position: relative;
}

.editor {
  font-family: Menlo, monospace;
  font-size: 16px;
}
