.codeframe {
  min-width: 400px;
}

.toolbar {
  position: relative;
}

.code-utils {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px;
  font-family: Menlo, monospace;
  font-size: 12px;
  display: flex;
}

.util {
  margin-right: 6px;
  cursor: pointer;
  padding: 3px;
  user-select: none;
  color: var(--color-neutral-3);
  display: inline-block;
  border: 0;
  background: none;
}

.util:hover {
  text-decoration: underline;
}

.content {
  padding: 25px;
}
