html {
  color: var(--color-text);
  background-color: var(--color-background);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}
