@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/icomoon.woff') format('woff');
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-MediumItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
