.input {
  position: absolute;
  opacity: 0;
}

.radio:focus-within {
  outline: 1px dotted;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.disabled {
  cursor: default;
}

.disabled .icon {
  opacity: 0.3;
}
