.input {
  position: absolute;
  opacity: 0;
}

.checkbox:focus-within {
  outline: 1px dotted;
}

.checkbox {
  display: flex;
  align-items: center;
}

.disabled {
  /* cursor: default; */
}

.disabled .icon {
  opacity: 0.3;
}
