.wrapper {
  display: flex;
  align-items: center;
  overflow: auto;
  height: calc(100% - 30px);
  padding-top: 30px;
}

html {
  height: 100%;
}

body {
  height: calc(100% - 30px);
  overflow: auto;
  margin: 0;
}

:global(#root) {
  height: 100%;
}
