.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  padding: 1em;
  width: 290px;
  overflow-y: auto;
  border-right: 1px solid var(--color-neutral-9);
}

.main {
  overflow-y: scroll;
  width: 100%;
}

.content {
  padding: 2rem;
  max-width: 720px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  color: black;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 10px;
  font-weight: 400;
}

.code-link {
  margin-left: auto;
}
